@import './base.css';

*::selection {
  background-color: var(--color-primary);
  color: var(--color-text-invert);
}

a,
a:visited {
  color: var(--color-text);
  text-decoration: none;
}

.link,
.link:visited {
  text-decoration: underline;
  color: var(--color-primary);
}

.page {
  max-width: 1000px;
  margin: 0 auto;
  padding: 16px;
  min-height: 200vh;
}

h1 {
  font-size: 2.5em;
  line-height: 2.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2em;
  line-height: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5em;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4 {
  color: var(--color-heading);
}

p {
  margin-bottom: 1rem;
  line-height: 1.6rem;
}

.mb-4 {
  margin-bottom: 16px;
}

.text-field {
  outline: none;
  border: 1px solid var(--color-border);
  border-radius: 99px;
  color: var(--color-text);
  background-color: transparent;
  padding: 4px 8px;
}

.text-field::placeholder,
.text-area::placeholder {
  color: var(--color-text-mute);
  user-select: none;
}

.text-field:focus,
.text-area:focus {
  outline: 2px solid var(--color-border-strong);
  outline-offset: 0px;
}

.text-area {
  outline: none;
  border: 1px solid var(--color-border);
  border-radius: 1.25em;
  color: var(--color-text);
  background-color: transparent;
  padding: 4px 8px;
  resize: none;
  field-sizing: content;
  min-height: 12rem;
}

.switch {
  position: relative;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  height: 1.25em;
  width: 2.75em;
  background-color: var(--color-bg-mute);
  border: none;
  border-radius: 99px;
  transition: background-color .3s;
  cursor: pointer;
  outline: 2px solid var(--color-border-strong);
  outline-offset: 0px;
}

.switch::before {
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  background-color: var(--color-border-strong);
  left: 0.25em;
  top: 0.125em;
  border-radius: 99px;
  transition: all .3s;
}

.switch:checked::before {
  left: 1.5em;
  background-color: var(--color-bg-mute);
}

.switch:checked {
  background-color: var(--color-primary);
  outline-color: var(--color-primary);
}

.switch:focus-visible {
  outline-color: var(--color-text);
}

.dropdown {
  user-select: none;
  outline: none;
  border: 1px solid var(--color-border);
  border-radius: 99px;
  color: var(--color-text);
  background-color: transparent;
  padding: 4px 24px 4px 8px;
  appearance: none;
  background: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="gray" class="size-6"><path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" /></svg>') 90%/15% no-repeat;
}

.dropdown:focus {
  outline: 2px solid var(--color-border-strong);
  outline-offset: 0px;
}

.dropdown option {
  background-color: var(--color-bg-soft);
  color: var(--color-text);
}

.btn {
  user-select: none;
  outline: none;
  border: none;
  border-radius: 4px;
  color: var(--color-text-invert);
  background-color: var(--color-primary);
  padding: 4px 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, filter 0.3s;
  font-weight: bold;
}

.btn:hover {
  box-shadow: var(--shadow-md);
}

.btn:active {
  background-color: var(--color-primary-hover);
}

.btn.fade {
  background-color: transparent;
  color: var(--color-primary);
  box-shadow: unset;
}

.btn.cancel {
  background-color: transparent;
  color: var(--color-error);
  box-shadow: unset;
}

.btn.fade:hover, .btn.cancel:hover {
  background-color: var(--color-bg-soft);
}

.btn.fade:active, .btn.cancel:active {
  background-color: var(--color-bg-mute);
}

.btn.danger {
  background-color: var(--color-error);
}

.btn.danger:active {
  filter: brightness(0.8);
}

.btn:focus-visible {
  outline: 2px solid var(--color-text);
  outline-offset: 0px;
}

code {
  padding: 4px;
  border-radius: 4px;
  background-color: var(--color-bg-mute);
  font-family: monospace;
  user-select: text;
}

code * {
  background-color: var(--color-bg-mute);
}

.icon {
  height: 1.375rem;
  stroke: var(--color-text);
}

.icon.fill {
  fill: var(--color-text-mute);
  stroke: none;
}

.icon.highlight {
  fill: var(--color-primary);
}

.icon-btn {
  display: flex;
  justify-content: center;
  border: none;
  background-color: transparent;
  padding: 0.5rem;
  cursor: pointer;
  color: inherit;
  border-radius: 99px;
  transition: background-color 0.2s;
}

.icon-btn:hover {
  background-color: var(--color-border);
}

.icon-btn:disabled, .icon-btn:disabled:hover {
  cursor: not-allowed;
  background-color: transparent;
  opacity: 0.7 !important;
}

.slider {
  overflow: hidden;
  width: 10em;
  height: 1.25em;
  -webkit-appearance: none;
  background-color: var(--color-bg-mute);
  border: 1px solid var(--color-border-strong);
  border-radius: 99px;
}

.slider::-webkit-slider-runnable-track {
  height: 1em;
  -webkit-appearance: none;
  color: var(--color-primary);
  margin-top: -2px;
}

.slider::-webkit-slider-thumb {
  width: 1.15em;
  -webkit-appearance: none;
  border-radius: 0.5em;
  height: 1.15em;
  cursor: ew-resize;
  background: var(--color-primary-hover);
  position: relative;
  box-shadow: 0px 0px 16px rgb(255 255 255 / 0.3), -10.5rem 0 0 10rem var(--color-primary);
  outline: 0.25em solid var(--color-primary-hover);
  outline-offset: -0.25em;
  transition: all 0.3s;
}

.slider::-webkit-slider-thumb:active {
  box-shadow: 0px 0px 16px 16px rgb(255 255 255 / 0.5), -10.5rem 0 0 10rem var(--color-primary);
  outline-offset: -0.1em;
}

.slider::-moz-range-progress {
  background-color: var(--color-primary);
}

.slider::-moz-range-track {
  background-color: var(--color-border);
}

.slider::-ms-fill-lower {
  background-color: var(--color-primary);
}

.slider::-ms-fill-upper {
  background-color: var(--color-border);
}
